<div id="fancybox">
	click HERE
</div>



<% @users.each do |name|%>
	<%=name%>
	<%end%>




<script>
var clicked = 0;

$('html').on('click', function (e) {
    clicked++;
    if (clicked >= 2) {
        $.backstretch("<%=asset_path 'outside.jpg'%>");
    } else {
        e.preventDefault();
    }
});

</script>
